<a href="https://colab.research.google.com/github/tier3guy/Machine-Learning/blob/main/ML_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Python Basics

In [ ]:
# print statement
print("Hello world")

Hello world

In [ ]:
# printing with placeholders
print("My name is {} and my surname is {}".format("Avinash", "Gupta"));

My name is Avinash and my surname is Gupta

In [ ]:
# Input from user
number = input(">> Enter any number : ")
print(">> You have entered :",number)

>> Enter any number : 56
>> You have entered : 56

By default anything we give in input is of string type.

In [ ]:
print(type(number))

<class 'str'>

In [ ]:
# convert the input into number - type casting
another_number = int(input(">> Enter again a number : "))
print(type(another_number))

>> Enter again a number : 56
<class 'int'>

### Some in-built data structures in python

In [ ]:
# List - use square brakets - unordered
list1 = list([1,2,3,14,5,6])
print(list1)
list1.append(5)
print(list1)

[1, 2, 3, 14, 5, 6]
[1, 2, 3, 14, 5, 6, 5]

In [ ]:
# Sets - use curly brakets - ordered
set1 = set({1,2,3,14,5,6})
print(set1)

{1, 2, 3, 5, 6, 14}

In [ ]:
# Tuple - use round brackets - unordered
tuple1 = tuple((1,2,3,14,5,6))
print(tuple1)

# The only difference between list and tuple is that list is mutable while 
# tuple is not.

(1, 2, 3, 14, 5, 6)

#### Dictionaries

In [ ]:
dictionaries = {"Name": "Avinash Gupta", "Age": 20, "Male": True}
# More like objects in JS
print(dictionaries)

{'Name': 'Avinash Gupta', 'Age': 20, 'Male': True}

### Functions and classes

In [ ]:
# python functions - def

def print_details(details): 
  print(details)

print_details({"Name": "Avinash Gupta", "Age": 20})
print_details({"Name": "Kamya Kumari", "Age": 21})

{'Name': 'Avinash Gupta', 'Age': 20}
{'Name': 'Kamya Kumari', 'Age': 21}

In [ ]:
# classes in python - class

class student:
  name = "Avinash Gupta"
  roll = 77
  student = True

  def __init__(self, name = None, roll = None, student = None):
    self.name = name
    self.roll = roll
    self.student = student

  def __print_details__(self):
    if self.name is not None:
      if(self.student):
        print("Roll no. of {} is {}".format(self.name, self.roll))
    else:
      print("Roll no. of {} is {} but he/she is not a student".format(self.name, self.roll))


avinash = student("Avinash", 78, True)
avinash.__print_details__()

kamya = student()
kamya.__print_details__()

Roll no. of Avinash is 78
Roll no. of None is None but he/she is not a student